input#ch_name {
  text-transform: uppercase;
}
.printModal{font-family:sans-serif;display:flex;text-align:center;font-weight:300;font-size:30px;left:0;top:0;position:absolute;color:#045fb4;width:100%;height:100%;background-color:hsla(0,0%,100%,.9)}.printClose{position:absolute;right:10px;top:10px}.printClose:before{content:"\00D7";font-family:Helvetica Neue,sans-serif;font-weight:100;line-height:1px;padding-top:.5em;display:block;font-size:2em;text-indent:1px;overflow:hidden;height:1.25em;width:1.25em;text-align:center;cursor:pointer}.printSpinner{margin-top:3px;margin-left:-40px;position:absolute;display:inline-block;width:25px;height:25px;border:2px solid #045fb4;border-radius:50%;animation:spin .75s linear infinite}.printSpinner:after,.printSpinner:before{left:-2px;top:-2px;display:none;position:absolute;content:"";width:inherit;height:inherit;border:inherit;border-radius:inherit}.printSpinner,.printSpinner:after,.printSpinner:before{display:inline-block;border-color:#045fb4 transparent transparent;animation-duration:1.2s}.printSpinner:before{transform:rotate(120deg)}.printSpinner:after{transform:rotate(240deg)}@keyframes spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}
.cheque .site-wrapper {
  background: linear-gradient(267deg,#91351e,#041568,#032a38,#703976)!important;
  background-size: 200% 400%!important;
  animation: gradient 15s ease infinite;
  color: #fff;
}
canvas#cheque_img {
  position: absolute;
  left: -11px;
  top: 10px;
  transform: scale(.99);
}
canvas#cheque_img_back {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 6px 0px #858080;
  min-height: 287px;
  background: #ffffff94;
  border: 11px solid #ffff;
  border-right: 0;
}
.print_cheque {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.left_box {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}
.left_box input {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  color: #000;
}
button#populate ,#download,#print,button{
  height: 39px;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  background: #ddd;
  border: 1px solid #000;
  line-height: 40px;
  color: #000;
  padding: 0 15px;
}
select#company {
  margin-bottom: 10px;
  height: 35px;
  padding: 0 10px;
}
.print_cheque input, .print_cheque select {
  font-size: 14px;
  line-height: 35px;
}
button i { margin-left: 5px; }
button:hover { background: #fff !important; }
.btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.right_box { position: relative; }
input#checkbox {
  max-width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  line-height: 15px;
}
@media screen and (max-width:991px){
  .print_cheque { flex-direction: column; margin-top: 5vh; }
  .print_cheque input { width: 100%; }
  .print_cheque #populate,.print_cheque #download,button#print,button#share {width: 100%;max-width: 100%;margin-bottom: 10px;}
  .right_box canvas { zoom: 60%; }
  .left_box { width: 75%; }
  .print_cheque { min-height: 100vh; }
}
@media screen and (max-width:767px){
  .right_box canvas { zoom: 45%; }
  .btns  button { font-size: 0px !important; }
  .btns  button i { font-size: 18px !important; vertical-align: middle; }
  .left_box h3 { font-size: 20px; }
  .left_box { width: 80%; }
}
